.portfolio {
  padding: 100px 0 30px 0;
  h4 {
    font-weight: 500;
    font-size: 30px;
    @include textGradients();
    margin-bottom: 30px;
  }
  .sdfdsf {
    border-radius: 33px;
    margin-bottom: 40px;
  }

  .portfolio__container {
    // padding: 20px 30px;
  }
  .portfolio__cards__container {
    // @include displayCenter(center, space-between);
    // flex-wrap: wrap;
    .portfolio__card {
      position: relative;
      // width: 230px;
      // height: 320px;
      height: 100%;
      padding: 20px;
      border: 1px solid rgba(136, 136, 136, 0.15);
      border-radius: 10px;
      box-shadow: $box_shadow_one;
      @include displayCenter(center, flex-start);
      flex: 0 1 150px;
      .question__icon {
        text-align: right;
        margin-bottom: 10px;
        svg {
          font-size: 22px;
        }
      }
      &__img__wrapper {
        // position: absolute;
        // bottom: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $primary;
        @include displayCenter(center, center);
        margin-right: 10px;
      }
      .portfolio_right {
        h3 {
          font-weight: bold;
          font-size: 30px;
        }
        p {
          // max-width: 114px;
          margin-bottom: 0;
        }
      }
    }
  }

  .upBox {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    color: $primary !important;
    height: 100%;
    h3 {
      margin-bottom: 10px;
    }
    div {
      p {
        margin-bottom: 5px;
        font-size: 13px;
      }
    }
  }
  .sfds {
    @include displayCenter(center, center);
    flex-direction: column;
    img {
      margin-bottom: 30px;
    }
  }

  @include mQ($lg) {
    .portfolio__cards__container {
      justify-content: space-evenly;
    }
  }
  @include mQ($md) {
    .portfolio__container {
      padding: 10px;
    }
  }
  @include mQ($sm) {
    h4 {
      font-size: 18px;
      margin-bottom: 20px;
      text-align: center;
    }
    .portfolio__cards__container {
      .portfolio__card {
        h3 {
          font-size: 18px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
