.banner {
  padding: 100px 0 30px 0;
  .section__one {
    background-color: $secondary;
    .banner__one__box {
      border: 1px solid rgb(221, 221, 221);
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 15px;
      height: 100%;
      @include displayCenter(start, space-between);
      transition: $transition;

      &:hover {
        box-shadow: $box_shadow_three;
      }
      p {
        font-size: 14px;
        margin-bottom: 5px !important;
      }
      h5 {
        font-size: 20px;
        font-weight: 700 !important;
        color: $primary;
      }
      &__left {
        text-align: left !important;
      }
      div {
        &:last-child {
          text-align: right;
        }
      }
    }
  }
  .section__two {
    padding: 20px 0;
    .box__wrapper {
      border: 1px solid rgb(221, 221, 221);
      border-radius: 10px;
      margin-bottom: 15px;
      padding: 18px;
      transition: $transition;
      &:hover {
        box-shadow: $box_shadow_three;
      }
    }
    .banner__two__box {
      p {
        font-size: 14px;
        margin-bottom: 5px !important;
      }
      h5 {
        font-size: 22px;
        font-weight: 600;
        color: $primary;

      }
      img {
        width: 35px;
      }
    }
    .separate__Sec {
      text-align: center;
      padding: 20px;
      h5 {
        font-size: 18px;
        color: $primary;

      }
    }
    @include mQ($sm) {
      .one__Sec {
        .banner__two__box {
          text-align: center;
          h5 {
            font-size: 20px;
          }
        }
      }
    }
  }
}
