.navbar {
  // background: $brand__color !important;
  background-image: linear-gradient(239deg, #74ebd5 0%, #9face6 100%);
  a {
    font-size: 14px !important;
  }
  .navbar-brand {
    @include displayCenter(center, center);
    img {
      width: 40px;
      height: 40px;
      margin-right: 5px;
      // @include image(contain);
    }
    color: #06397e !important;
    font-weight: bold;
    font-size: 20px !important;
  }
  .nav__ {
    width: 100%;
    @include displayCenter(center, space-between);

    // .active {
    //   // font-weight: 500 !important;
    //   position: relative;
    //   &::after {
    //     position: absolute;
    //     content: '';
    //     top: 41px;
    //     left: 0;
    //     border-radius: 0;
    //     width: 100%;
    //     height: 100%;
    //     border-top: 2.5px solid $primary;
    //   }
    // }

    .navbar__left {
      @include displayCenter(center, space-between);
      margin: auto;
      a {
        padding: 0 20px !important;
        color: $secondary;
        font-weight: bold;
      }
    }
    .navbar__right {
      @include displayCenter(center, space-between);
      .circle {
        margin: 0 15px;
        img {
          cursor: pointer;
        }
      }
      .option__wrapper {
        // background: $brand__color !important;
        // color: $white__color;
        border-radius: 33px;
        // border: 1px solid $white__color;
        padding: 8px 15px;
        margin: 0 10px;
        user-select: none;
        cursor: pointer;
        @include displayCenter(center, center);
        color: $secondary !important;
        border: 1px solid $secondary;
        // background: $secondary !important;
        .user__id {
          width: 80px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-decoration: none;
          color: $secondary !important;
        }
        a {
          color: $secondary !important;
        }

        .nav-link {
          padding: 0;
          @include displayCenter(center, center);
        }
        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
        svg {
          font-size: 20px;
          margin-right: 5px;
        }
      }
    }
  }
}

// @media (min-width: 1200px) { ... }

@media screen and (max-width: 1200px) {
  .navbar {
    a,
    .option__wrapper {
      margin: 10px 0 !important;
    }
    .nav__ {
      align-items: flex-end;
      .active {
        &::after {
          all: initial;
        }
      }
      .navbar__left {
        margin: 0 !important;
        flex-direction: column;
        align-items: flex-end !important;
      }
      .navbar__right {
        flex-direction: column;
        align-items: flex-end !important;
      }
    }
  }
}
