.loans {
  padding: 50px 0;
  margin-bottom: 20px;
  .loan__table > tbody > tr:nth-of-type(2n + 2) {
    background-color: #fafffd !important;
  }
  .loan__table{
    tbody {
      td {
        padding: 7px 10px !important;
      }
    }
  }
}
