.stacking {
  .error_message {
    font-size: 11px;
  }
  .reward__section {
    text-align: center;
    p {
      text-align: center;
      font-size: 12px;
      margin: 10px 0 !important;
      font-weight: 400;
    }
    .price {
      font-size: 16px;
      margin: 0;
    }
  }
  .unstake {
    .liquidity__pool__box__middle {
      margin-top: 22px;
    }
  }
}
