.stacking {
  .error_message {
    font-size: 11px;
  }
  .reward__section {
    text-align: center;
    p {
      text-align: center;
      font-size: 12px;
      margin: 10px 0 !important;
      font-weight: 400;
    }
    .price {
      font-size: 16px;
      margin: 0;
    }
  }
  .unstake {
    .liquidity__pool__box__middle {
      margin-top: 22px;
    }
  }
}

.stakeCard {
  padding: 20px 20px 0 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  background: rgb(197, 205, 207);
  p {
    font-size: 11px;
    margin-bottom: 0.5rem;
    color: $font__black !important;
  }
}
.completed {
  background-color: $primary;
  p {
    color: $font__gray !important;
  }
  .txt__brand {
   color: $brand__color !important; 
  }
}
// $font__gray: #848e9c;
// $font__black: #333333;
