.wallets {
  .modal-dialog {
    max-width: 430px;
  }
  .buy__cpt__header__tile {
    margin-bottom: 50px;
    h4 {
      font-size: 20px;
    }
  }
  .buy__cpt__header__close {
    top: 17px;
  }

  .wallet {
    border-radius: 5px;
    box-shadow: $box-shadow-two;
    padding: 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: $transition;
    @include displayCenter(center, space-between);
    img {
      max-width: 30px;
      max-height: 30px;
      margin-right: 15px;
    }
    h5 {
      margin: 0;
      font-size: 16px;
    }
    &:hover {
      box-shadow: $box-shadow-four;
    }
  }
}

.Disconnecct {
  .modal-dialog {
    max-width: 480px;
  }
  .wallet_icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    margin: auto auto 20px auto;
    box-shadow: $box-shadow-four;
    img {
      @include image(contain);
    }
    @include mQ($sm) {
      width: 30px;
      height: 30px;
      padding: 5px;
      margin: auto auto 10px auto;
    }
  }

  .user__id {
    background-color: #ebebeb !important;
    border-radius: 5px;

    p {
      //   @include userAddress(390px);
      text-align: center;
    }
    @include mQ(450px) {
      p {
        @include userAddress(300px);
        text-align: center;
      }
    }
    @include mQ(350px) {
      p {
        @include userAddress(200px);
        text-align: center;
      }
    }
  }

  @include mQ($sm) {
    button {
      font-size: 12px;
    }
  }
}

.settings {
  .minutes_wrapper {
    h5 {
      margin: 0;
      margin-bottom: 20px;
      text-align: left;
    }
    label {
      float: left;
    }
    padding: 20px;
  }
  .success__body {
    padding: 0px 0 50px 0;
  }
}

.success__body {
  .transform {
    padding: 0;
    .container {
      padding: 0;
      .box_wrapper {
        padding: 5px;
      }
    }
  }
  .convertLp {
    .box_wrapper_container_bottom_right {
      h4 {
        span {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
